/* FONTS */
/* barlow-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/barlow-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/fraunces-v38-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CUSTOM PROPERTIES */
:root {
  --clr-red-400: hsl(7, 99%, 70%);
  --clr-yellow-500: hsl(51, 100%, 49%);
  --clr-green-800: hsl(167, 40%, 24%);
  --clr-blue-400: hsl(200, 100%, 62%);
  --clr-blue-800: hsl(198, 62%, 26%);
  --clr-green-300: hsl(167, 44%, 70%);
  --clr-green-500: hsl(167, 34%, 41%);

  --clr-grey-950: hsl(212, 27%, 19%);
  --clr-grey-600: hsl(213, 9%, 39%);
  --clr-grey-550: hsl(232, 10%, 55%);
  --clr-grey-400: hsl(210, 4%, 67%);
  --clr-white: hsl(0, 100%, 100%);
}

/* RESET STYLES */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements 
with a list role, which suggests default 
styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  /* height: 100%; */
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Barlow';
  font-size: 1.125rem;
  color: var(--clr-grey-600);
}

h1, h2, h3 {
  font-family: 'Fraunces';
  line-height: 1.2;
  font-weight: 900;
}

h1 {
  font-size: 2.75rem;
  text-transform: uppercase;
  letter-spacing: .28rem;
  font-weight: 900;
}

h2 {
  color: var(--clr-grey-950);
  font-size: 2.125rem;
}

h3 {
  text-transform: uppercase;
  font-size: 1.1875rem;
  letter-spacing: .175rem;
  color: var(--clr-grey-400);
}

a {
  text-decoration: none;
}

/* NAV LINKS */
.nav-link {
  display: inline-block;
  padding: .5em .9em;
  border-radius: 3rem;
  text-align: center;
  background-color: hsla(0, 100%, 100%, 0);
  color: white;
  transition: background-color .3s ease;
}

.nav-link:hover {
  background-color: hsla(0, 100%, 100%, 0.2);
}

/* BODY LINKS */
.link {
  display: inline-block;
  font-family: 'Fraunces';
  text-transform: uppercase;
  font-size: .9rem;
  color: var(--clr-grey-950);
  position: relative;
}

.link::after {
  content: '';
  background-color: var(--clr-underline, currentColor);
  position: absolute;
  top: .875rem;
  bottom: -.03rem;
  left: -.4rem;
  right: -.4rem;
  z-index: -1;
  border-radius: 3rem;
  transition: top .3s ease;
}

.link:hover::after {
  top: -.03rem;
}

/* HEADER */
.header {
  background-color: var(--clr-blue-400);
  padding-top: 1.6rem;
}

.header__wrapper,
.header__nav,
.header__links {
  display: flex;
  align-items: center;
}

.header__wrapper {
  justify-content: space-between;
}

.menu-icon,
.overlay {
  display: none;
  cursor: pointer;
}

@media (max-width: 36.25em) {
  .header__links {
    position: absolute;
    z-index: 1;
    display: block;
    top: 5rem;
    left: 1.4rem;
    right: 1.4rem;
    max-height: 0;
    padding: 0;
    opacity: 0;
    text-align: center;
    background-color: var(--clr-white);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0, 95% 14%, 0 14%);
    transition: all .3s ease;
  }

  .header__nav.toggled .header__links {
    padding-top: 2.4rem;
    padding-bottom: 1rem;
    max-height: 100vh;
    opacity: 1;
    transition: all .5s ease;
  }

  .header__nav.toggled .nav-link {
    background-color: hsla(51, 100%, 49%, 0);
    color: var(--clr-grey-550);
  }

  .header__nav.toggled .nav-link:hover {
    background-color: hsla(51, 100%, 49%, .4);
    color: var(--clr-grey-950);
  }

  .menu-icon {
    display: block;
  }
}

/* HERO */
.hero {
  padding-block: 5rem 20rem;
  text-align: center;
  background-color: var(--clr-blue-400);
  color: var(--clr-white);
  background-image: url(/assets/images/icon-arrow-down.svg),
    url(/assets/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: center top 32vh, bottom center;
}

.hero__title {
  font-size: clamp(
    1.5rem, 
    -0.27419354838709675rem + 12.903225806451612vw, 
    2.75rem
  );
  max-width: 12ch;
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width: 37.5em) {
  .hero {
    background-image: url(/assets/images/icon-arrow-down.svg),
    url(/assets/images/desktop/image-header.jpg);
    background-position: center top 20vh, center;
  }

  .hero__title {
    max-width: none;
  }
}

/* SERVICES */
.services {
  max-width: 1430px;
  margin-inline: auto;
}

.services, .service:not(.relative) {
  display: grid;
  align-items: center;
}

.service__text {
  text-align: center;
  padding-inline: 1rem;
}

.service__text > * + * {
  margin-top: 1rem;
}

.service__title {
  max-width: 16ch;
  margin-inline: auto;
}

.service.relative {
  position: relative;
}

.service.relative .service__text {
  position: absolute;
  /* background-color: red; */
  top: 60%;
  left: 0;
  padding-inline: 1rem;
}

.service:not(:first-child, :last-child) {
  margin-top: 3.5rem;
}

.service:nth-child(1) .service__text,
.service:nth-child(2) .service__text {
  margin-top: 3rem;
}

@media (min-width: 45em) {
  .service,
  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .service:not(.relative) {
    grid-column: 1/-1;
  }

  .service:not(.relative) .service__text {
    text-align: left;
  }

  .service:nth-child(1) .service__text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 31rem;
    justify-self: end;
    padding-right: 5rem;
  }

  .service:nth-child(2) .service__text {
    max-width: 31rem;
    justify-self: start;
    padding-left: 5rem;
  }

  .service:not(:first-child, :last-child),
  .service:nth-child(1) .service__text,
  .service:nth-child(2) .service__text {
    margin: 0;
  }

  .service.relative h2 {
    font-size: 1.3rem;
    margin-inline: auto;
  }

  .service:not(.relative) h2{
    font-size: 1.6rem;
    margin-inline: 0;
  }

  .service p {
    font-size: 1rem;
  }
}

@media (min-width: 72.5em) {
   .service.relative .service__text{
    /* background: red; */
    left: 50%;
    transform: translateX(-50%);
  }
}

/* TESTIMONIALS */
.testimonials {
  text-align: center;
  padding-block: 3.6rem;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  row-gap: 4.2rem;
  margin-top: 4rem;
}

.testimonial {
  max-width: 355px;
  margin-inline: auto;
}

.testimonial > * + * {
  margin-top: 1.875rem;
}

.testimonial__image {
  width: 5rem;
  height: 5rem;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  margin-inline: auto;
}

.testimonial__name {
  font-family: 'Fraunces';
  color: var(--clr-grey-950);
  font-weight: 900;
}

.testimonial__role {
  font-size: .9rem;
  color: var(--clr-grey-400);
  margin-top: .4rem;
}

@media (min-width: 72.5em) {
  .testimonials__container {
    flex-direction: row;
    column-gap: 1rem;
  }
}

/* FOOTER */
.footer {
  background-color: var(--clr-green-300);
}

.footer svg {
  fill: var(--clr-green-500);
}

.footer__images {
  display: grid;
  max-width: 1430px;
  margin-inline: auto;
  grid-template-columns: repeat(2, 1fr);
}

.footer__logo {
  width: 11rem;
  height: 2.6rem;
  margin-inline: auto;
  margin-top: 3.2rem;
}

.footer__links {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.footer__links a {
  color: var(--clr-green-500);
}

.footer__links a:hover {
  color: var(--clr-white);
}

.footer__logos {
  display: flex;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;
  padding-block: 4rem;
}

.footer__logos svg {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.footer__logos svg:hover {
  fill: var(--clr-white);
}

@media (max-width: 300px) {
  .footer__links {
    gap: 1rem;
  }
}

@media (min-width: 45em) {
  .footer__images {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* UTILITIES */
.underline-red {--clr-underline: hsla(7, 99%, 70%, .6)}
.underline-yellow { --clr-underline:  hsla(51, 100%, 49%, .6)}

.wrapper {
  padding-inline: 1rem;
  max-width: 1100px;
  margin-inline: auto;
  /* outline: 2px solid red; */
}
