/* FONTS */
/* barlow-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/barlow-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/fraunces-v38-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CUSTOM PROPERTIES */
:root {
  --clr-red-400: hsl(7, 99%, 70%);
  --clr-yellow-500: hsl(51, 100%, 49%);
  --clr-green-800: hsl(167, 40%, 24%);
  --clr-blue-800: hsl(198, 62%, 26%);
  --clr-green-500: hsl(167, 34%, 41%);

  --clr-grey-950: hsl(212, 27%, 19%);
  --clr-grey-600: hsl(213, 9%, 39%);
  --clr-grey-550: hsl(232, 10%, 55%);
  --clr-grey-400: hsl(210, 4%, 67%);
  --clr-white: hsl(0, 100%, 100%);
}

/* RESET STYLES */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements 
with a list role, which suggests default 
styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  /* height: 100%; */
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Barlow';
  font-size: 1.125rem;
  color: var(--clr-grey-600);
  text-align: center;
  padding: 1rem;
}

h1, h2, h3 {
  font-family: 'Fraunces';
  line-height: 1.2;
  font-weight: 900;
}

h1 {
  color: var(--clr-grey-950);
  font-size: 2.75rem;
  text-transform: uppercase;
  letter-spacing: .28rem;
  font-weight: 900;
}

h2 {
  color: var(--clr-grey-950);
  font-size: 2.125rem;
}

h3 {
  text-transform: uppercase;
  font-size: 1.1875rem;
  letter-spacing: .175rem;
  color: var(--clr-grey-400);
}

a {
  text-decoration: none;
}

